<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'product')}">

<body>
	<div th:if="${product != null}" class="main_product">
		<ul class="pager">
			<li class="previous" th:if="${previousProduct != null}"><a th:href="@{/product/__${currentCategory.id}__/__${previousProduct}__(page=${previousPage},size=${page.size})}">이전 상품</a></li>
			<li class="next" th:if="${nextProduct != null}"><a th:href="@{/product/__${currentCategory.id}__/__${nextProduct}__(page=${nextPage},size=${page.size})}">다음 상품</a></li>
		</ul>
		<div class="row">
			<h2 th:text="'상품 : ' + ${product.category.korean} + ' - ' + ${product.uketsukeBng} + ' (' + ${product.makerCd} + ' : ' + ${product.keijoCd} + ')'">상품</h2>
			<div>
				<div class="product-image">
					<a th:href="${productImg.imageUrl}" th:each="productImg : ${product.productImage}">
						<img th:src="${productImg.thumbnailImageUrl}" />
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<h2>상세정보</h2>
			<table class="table table-striped table-bordered" th:object="${product}">
				<tr>
					<th class="text-center">카테고리</th>
					<td><b th:text="*{genreCd}"></b></td>
					<!--<td><b th:text="*{category.korean + '(' + category.japanese + ')'}"></b></td>-->
				</tr>
				<tr>
					<th class="text-center">접수번호</th>
					<td><b th:text="*{uketsukeBng}"></b></td>
				</tr>
				<tr>
					<th class="text-center">경매순서(세리순:ｾﾘ順)</th>
					<td><b th:text="*{seriBng}"></b></td>
				</tr>
				<tr>
					<th class="text-center">메이커</th>
					<td th:text="*{makerCd}" /></td>
				</tr>
				<tr>
					<th class="text-center">타입</th>
					<td th:text="*{brandTypeCd}" /></td>
				</tr>
				<tr>
					<th class="text-center">상품명</th>
					<td th:utext="*{shohin}" /></td>
				</tr>
				<tr>
					<th class="text-center">평가</th>
					<td th:text="*{hyoka}" /></td>
				</tr>
				<tr>
					<th class="text-center">형상</th>
					<td th:text="*{keijoCd}" /></td>
				</tr>
				<!--<tr>-->
					<!--<th class="text-center">개최횟수</th>-->
					<!--<td th:text="*{openCount}" /></td>-->
				<!--</tr>-->
				<tr>
					<th class="text-center">개최일</th>
					<td th:text="*{kaisaiYmd}" /></td>
				</tr>
				<tr>
					<th class="text-center media-middle">특이사항</th>
					<td th:utext="${#strings.trim(#strings.replace(#strings.replace(#strings.defaultString(product.biko, ''),', ','&lt;br&gt;'), '　', ' ')).replaceAll(' +', '&lt;br&gt;')}" /></td>
				</tr>
				<tr>
					<th class="text-center media-middle">제품 특징 1</th>
					<td th:utext="${#strings.trim(#strings.replace(#strings.replace(#strings.defaultString(product.shohin, ''),', ','&lt;br&gt;'), '　', ' ')).replaceAll(' +', '&lt;br&gt;')}" /></td>
				</tr>
				<tr>
					<th class="text-center media-middle">제품 특징 2</th>
					<td th:utext="${#strings.trim(#strings.replace(#strings.replace(#strings.defaultString(product.shuppinBiko2, ''),', ','&lt;br&gt;'), '　', ' ')).replaceAll(' +', '&lt;br&gt;')}" /></td>
				</tr>
				<!--<tr>-->
					<!--<th class="text-center media-middle">부속품</th>-->
					<!--<td th:utext="${#strings.replace(product.accessories,', ','&lt;br&gt;')}" /></td>-->
				<!--</tr>-->
				<tr>
					<th class="text-center">시작</th>
					<td th:text="*{startKng}" /></td>
				</tr>
				<tr>
					<th class="text-center">결과</th>
					<td th:text="*{kekka}" /></td>
				</tr>
			</table>
		</div>
	</div>
	
	<th:block th:if="${page == null || currentCategory == null}">
		<h2>Category</h2>
		<table id="category" class="table table-striped">
			<thead>
				<tr>
					<th>카테고리</th>
					<th>진행</th>
					<th>상태</th>
					<th>추출일시</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categoryList}">
					<td class="text-center">
						<a th:href="@{/product/__${category.id}__}" th:text="${category.korean + ' (' + category.japanese + ')'}"></a>
					</td>
					<td class="text-center" th:text="#{'category.status.' + ${category.status}}">상태</td>
					<td class="text-right" th:text="${category.extProductNum + ' / ' + category.totalProductNum}"></td>
					<td th:text="${#dates.format(category.modifiedDate, 'MM월 dd일 (E) HH:mm:ss')}" class="text-center"></td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<th:block th:if="${currentCategory != null}">
		<h2>Category</h2>
		<div class="row">
			<div class="col-xs-12">
				<select id="categorySelect" name="categorySelect" class="selectpicker" data-style="btn-success" data-size="10">
					<option th:each="category : ${categoryList}" th:text="${category.korean}" th:value="${category.id}" th:attr="data-subtext=${category.japanese}" th:selected="${category.id == currentCategory.id}">category</option>
				</select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${page != null and page.content != null and makerList != null}">
		<h2 th:text="${'메이커 [' + (session.selectsOption != null && session.selectsOption.selectsMaker != null ? #lists.size(session.selectsOption.selectsMaker) + '개 선택중' : 'ALL') + ']'}">Maker</h2>
		<div class="row">
			<div class="col-xs-12">
				<select id="makerSelect" name="makerSelect" class="selectpicker" data-style="btn-primary" data-selected-text-format="count > 3" data-count-selected-text="{0} 개의 메이커 선택중" multiple th:attr="data-current-category=${currentCategory.id}" th:title="${#lists.size(makerList) + '개 maker가 있습니다.'}" data-size="10">
					<option th:each="maker : ${makerList}" th:value="${maker.makerCd}" th:text="${maker.name}" th:selected="${session.selectsOption != null && session.selectsOption.selectsMaker != null and #lists.contains(session.selectsOption.selectsMaker, maker.makerCd)}">maker</option>
					<!--th:attr="data-subtext=${maker.makerCount}"-->
				</select>
			</div>
		</div>
		<br />
		
		<h2 th:text="${'브랜드 [' + (session.selectsOption != null && session.selectsOption.selectsBrand != null ? #lists.size(session.selectsOption.selectsBrand) + '개 선택중' : 'ALL') + ']'}">BrandType</h2>
		<div class="row">
			<div class="col-xs-12">
				<select id="brandSelect" name="brandSelect" class="selectpicker" data-selected-text-format="count > 3" data-style="btn-info" data-count-selected-text="{0} 개의 브랜드 선택중" multiple th:attr="data-current-category=${currentCategory.id}" th:title="${#lists.size(brandList) + '개 브랜드가 있습니다.'}" data-size="10">
					<option th:each="brand : ${brandList}" th:value="${brand.brandCd}" th:text="${brand.name}" th:selected="${session.selectsOption != null && session.selectsOption.selectsBrand != null and #lists.contains(session.selectsOption.selectsBrand, brand.brandCd)}">brand</option>
					<!--th:attr="data-subtext=${keijo.keijoCount}"-->
				</select>
			</div>
		</div>
		<br />

		<h2 th:text="${'형상 [' + (session.selectsOption != null && session.selectsOption.selectsKeijo != null ? #lists.size(session.selectsOption.selectsKeijo) + '개 선택중' : 'ALL') + ']'}">Keijo</h2>
		<div class="row">
			<div class="col-xs-12">
				<select id="keijoSelect" name="keijoSelect" class="selectpicker" data-selected-text-format="count > 3" data-style="btn-info" data-count-selected-text="{0} 개의 형상 선택중" multiple th:attr="data-current-category=${currentCategory.id}" th:title="${#lists.size(keijoList) + '개 형상이 있습니다.'}" data-size="10">
					<option th:each="keijo : ${keijoList}" th:value="${keijo.keijoCd}" th:text="${keijo.name}" th:selected="${session.selectsOption != null && session.selectsOption.selectsKeijo != null and #lists.contains(session.selectsOption.selectsKeijo, keijo.keijoCd)}">keijo</option>
					<!--th:attr="data-subtext=${keijo.keijoCount}"-->
				</select>
			</div>
		</div>
		<br />
		
		<h2 th:text="${'Product' + (page != null and not #lists.isEmpty(page.content) ? ' [' + page.totalElements + ' 개 제품]' : '')}">Product</h2>

		<div class="checkbox">
			<label><input type="checkbox" name="checkViewProductImage" id="checkViewProductImage" th:checked="${session.selectsOption != null && session.selectsOption.viewProductImage != null && session.selectsOption.viewProductImage}">제품 이미지 보기</label>
		</div>
		<table id="product" class="table table-striped">
			<thead>
				<tr>
					<th>카테고리</th>
					<th>접수번호</th>
					<th>세리순</th>
					<th>메이커</th>
					<th>브랜드타입</th>
					<th>형상</th>
					<th>평가</th>
					<th th:if="${session.viewProductImage}">제품 이미지</th>
				</tr>
			</thead>
			<tbody>
			<th:block th:if="${page != null and not #lists.isEmpty(page.content)}"
					th:each="p : ${page.content}"
					th:classappend="${product != null and product.uketsukeBng == p.uketsukeBng} ? 'currentProduct' : ''">
					<tr>
					<td
						th:text="${p.category.korean + '(' + p.category.japanese + ')'}"
						class="text-center"></td>
					<td class="text-center">
						<a th:href="@{/product/__${p.category.id}__/__${p.uketsukeBng}__(page=${page.number-1},size=${page.size})}"
						   th:text="${p.uketsukeBng}" />
						</a>
					</td>
					<td th:text="${p.seriBng}" class="text-center"></td>
					<td th:text="${p.maker.name}" class="text-center"></td>
					<td th:text="${p.brand.name}" class="text-center"></td>
					<td th:text="${p.keijo.name}" class="text-center"></td>
					<td th:text="${p.hyoka + '(' + p.hyokaGaiso + '/' + p.hyokaNaiso + ')'}" class="text-center"></td>
					<!--<td class="text-center" th:if="${session.viewProductImage}">-->
						<!--<a th:href="@{/product/__${currentCategory.id}__/__${p.uketsukeBng}__(page=${page.number-1},size=${page.size})}">-->
							<!--<img th:src="@{${p.allFileList}}" />-->
						<!--</a>-->
					<!--</td>-->
				</tr>
				<th:block th:if="${session.selectsOption != null && session.selectsOption.viewProductImage != null && session.selectsOption.viewProductImage}">
					<tr>
						<td class="text-center" colspan="7">
							<div class="product-image-row" th:classappend="${#lists.size(p.productImage) == 0} ? 'text-center' : 'text-left'">
								<!--<a th:each="productImg : ${p.productImage}" th:href="@{/product/__${p.category.id}__/__${p.uketsukeBng}__(page=${page.number-1},size=${page.size})}">-->
									<!--<img th:src="@{/resources/images/403.png}" />-->
								<!--</a>-->
								<a th:each="productImg : ${p.productImage}" th:href="@{/product/__${p.category.id}__/__${p.uketsukeBng}__(page=${page.number-1},size=${page.size})}">
									<img th:src="${productImg.thumbnailImageUrl}" />'
								</a>
								<div th:if="${#lists.size(p.productImage) == 0}">
									no product image.
								</div>
							</div>
						</td>
					</tr>
				</th:block>
			</th:block>
				<tr th:unless="${not #lists.isEmpty(page.content)}">
					<td class="text-center" colspan="7">No data.</td>
				</tr>
			</tbody>
		</table>
	</th:block>

</body>
</html>
