<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'category')}">

<body>

	<div class="text-right">
		<select id="extractCategorySelect" name="extractCategorySelect" class="selectpicker" data-style="btn-success" data-width="400px" data-size="10" data-selected-text-format="count > 3" data-count-selected-text="{0} 개의 카테고리 선택중" th:title="${#lists.size(categoryList) + '개  Category가 있습니다'}" multiple data-actions-box="true">
			<option th:each="category : ${categoryList}" th:text="${category.korean}" th:value="${category.id}" th:attr="data-subtext=${category.japanese}" selected="selected">
				category
			</option>
		</select>
		<div class="checkbox">
			<label><input type="checkbox" name="initialize" id="initialize" value="" checked="checked">초기화</label>
			<a class="btn btn-default" href="javascript:void(0);" th:onclick="|javascript:initialCategory();|">추출</a>
		</div>
	</div>
	<h2>Category</h2>
	<table id="category" class="table table-striped">
		<thead>
			<tr>
				<th>카테고리</th>
				<th>한글(일본어)</th>
				<th>Auction회차</th>
				<th>상태</th>
				<th>제품</th>
				<th>전체</th>
				<th>수정일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="category : ${categoryList}">
				<td th:text="${category.name}" class="text-center"></td>
				<td th:text="${category.korean + '(' + category.japanese + ')'}" class="text-center"></td>
				<td th:text="${category.kaisaiKaisu}" class="text-center"></td>
				<td th:text="#{'category.status.' + ${category.status}}" class="text-center"></td>
				<td th:text="${category.totalProductNum}" class="text-right"></td>
				<td th:text="${category.extProductNum}" class="text-right"></td>
				<td th:text="${#dates.format(category.modifiedDate, 'MM월 dd일 (E) HH:mm:ss')}" class="text-center"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
